.nav {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;

  .w-full{
    width: 100%;
  }

  &.scroll {
    border-radius: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #F6F6F8;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;

    .wrapper {
      margin: 0 auto;
      max-width: 1200px;

      .info-hotel{
        padding: 5px;
        
        &.center {
          align-items:  flex-end;
          text-align: right;
        }

        p{
          display: none;
        }
      }

      button {
        display: none;
      }
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .info-hotel {
      display: flex;
      flex-direction: column;
      padding: 15px;

      h2 {
        font-size: 24px!important;
      }
  
      &.block-price-color {
        background: #F6F6F8;
        min-width: 25%;
      }
  
      .flex-center{
        display: flex;
        align-items: center;
      }
  
      &.left {
        align-items: left;
      }
      &.center {
        align-items: center;
      }
  
    }

  }
}
@media (max-width: 600px) {
  .nav{
    .wrapper{
      flex-direction: column;

      .info-hotel{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;

        h2 {
          font-size: 18px!important;
        }

        &.left {
          button {
            height: 25px!important;
          }
          p{
            font-size: 12px!important;
          }
        }

        &.center {
          p {
            font-size: 12px!important;
          }
          h3{
            font-size: 20px!important;
          }
          span {
            font-size: 11px!important;
          }
        }

        &.block-price-color {
          padding: 10px;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
  
          button {
            max-width: 160px;
            font-size: 11px!important;
          }
        }

      }
    }

    &.scroll {
      .wrapper{
        flex-direction: row;

        .info-hotel{
          h2 {
            font-size: 18px!important;
          }
          &.center{
            h3, span {
              text-align: right!important;
            }
          }
        }
      }
    }

  }

}